* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  background-image: url(./aside\ pic.png);
}
.page-wrapper {
  padding-right: 1rem;
  padding-top: 1rem;
  padding-left: 1rem;
  color: white;
  font-size: 0;
}
h1 {
  font-size: 2rem;
  letter-spacing: 0.5rem;
}
.text {
  text-align: center;
  padding-left: 10rem;
  padding-right: 10rem;
  font-size: 0.7rem;
  padding: 1rem;
}
.btn {
  width: 10rem;
  padding: 0.8rem;
  background: none;
  color: white;
  border: 0.1rem solid white;
  font-size: 0.4rem;
  letter-spacing: 0.2rem;
}
.himg {
  height: 20rem;
  width: 50%;
}
.text1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5rem;
  padding-top: 5rem;
}
aside {
  width: 50%;
  height: 25rem;
  display: inline-block;
  vertical-align: middle;
  justify-content: right;
  padding-left: 12rem;
  padding-top: 3rem;
  padding-right: 1rem;
  padding-bottom: 0.5rem;
}

.aside-img {
  padding-right: 1rem;
  padding-bottom: 1rem;
  height: 20rem;
  width: 50%;
}
.aside-middle {
  display: flex;
  justify-content: center;
  background-image: url(./feader\ pic.png);
  background-repeat: no-repeat;
  height: 21rem;
  width: 14rem;
  object-fit: cover;
  align-items: center;
}
.box {
  width: 6rem;
  height: 6rem;
  background-color: white;
  text-align: center;
}
.nr {
  font-size: 4rem;
  color: black;
}
.text3 {
  font-size: 0.5rem;
  color: grey;
}
main {
  width: 50%;
  height: 25rem;
  display: inline-block;
  vertical-align: middle;
  font-size: 1rem;
  padding-top: 3rem;
  padding-bottom: 1rem;
  padding-left: 5rem;
  padding-right: 5rem;
  gap: 1rem;
}
.main-text {
  font-size: 0.8rem;
  color: rgb(154, 153, 153);
  padding-top: 1rem;
  padding-bottom: 0.8rem;
}
h2 {
  color: black;
}
.main-text2 {
  text-decoration: line-through black 0.1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.main-text3 {
  font-size: 0.8rem;
  color: grey;
}
.list {
  color: grey;
  font-size: 0.8rem;
  text-decoration: none;
  list-style: none;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 0.5rem;
}
.btn1 {
  background-color: none;
  font-size: 0.4rem;
  border: 1px solid black;
  padding: 0.7rem;
  width: 8rem;
  letter-spacing: 0.1rem;
}
li::marker {
  color: green;
  font-size: 1.5rem;
}
